<!doctype html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/public/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="/public/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">

    <!-- Sweet alert style -->
    <link href="/public/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/public/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="/public/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="/public/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/public/css/plugins/select2/select2.min.css" rel="stylesheet">

    <link href="/public/css/latofonts.css" rel="stylesheet">
    <link href="/public/css/latostyle.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <link href="/public/css/tutu.css" rel="stylesheet">

    {{#block "head"}}
    {{/block}}
    {{#block "customStyle"}}
    
    {{/block}}
</head>
<body>
    <script src="/public/js/jquery-2.2.4.js"></script>
    {{#block "main"}}

    {{/block}}
    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="/public/js/excanvas.min.js"></script>
    <![endif]-->
    <!-- Mainly scripts -->

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/public/js/inspinia.js"></script>
    <script src="/public/js/plugins/pace/pace.min.js"></script>



    <!-- jQuery UI -->
    <script src="/public/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="/public/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="/public/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="/public/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="/public/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="/public/js/plugins/toastr/toastr.min.js"></script>

    <!-- Chosen -->
    <script src="/public/js/plugins/chosen/chosen.jquery.js"></script>

    <!-- Sweet alert -->
    <script src="/public/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Data picker -->
    <script src="/public/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script src="/public/js/plugins/dataTables/datatables.min.js"></script>
    <script src="/public/js/lodash.js"></script>

    <!-- Tutu  -->
    <script src="/public/js/tutu.js"></script>


    
    {{#block "foot"}}
    
    {{/block}}

    {{#block "customScript"}}
    
    {{/block}}
</body>
</html>